 <div class="container">
  <div class="row" ng-show="!vm.email.sent">
            <div class="col-sm-12 col-md-6">
                <h3>Send us a Message</h3>
                <form name="myForm" id="contactForm" novalidate>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Name:</label>
                            <input type="text" class="form-control" ng-model="vm.email.name" name="name" required data-validation-required-message="Please enter your name.">
                            <span class="error" ng-show="myForm.name.$touched && myForm.name.$invalid">Name Required</span>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email Address:</label>
                            <input type="email" name="email" class="form-control" ng-model="vm.email.address" required type="email">
                         <span class="error" ng-show="myForm.email.$touched && myForm.email.$invalid">Invalid Email Format</span>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Subject:</label>
                            <input class="form-control" ng-model="vm.email.subject" name="subject" required>
                            <span class="error" ng-show="myForm.subject.$touched && myForm.subject.$invalid">Subject Required</span>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Message:</label>
                            <textarea name="message" rows="4" cols="100" ng-model="vm.email.message" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999"></textarea>
                          <span class="error" ng-show="myForm.message.$touched && myForm.message.$invalid">Message required.</span>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button class="btn btn-primary pull-right" ng-disabled="vm.email.subject==null || vm.email.name==null || vm.email.message==null" ng-click="vm.sendEmail(vm.email)">Send Message</button>
                </form>
            </div>
            <div class="col-sm-12 col-md-6">
                <h3>Contact Details</h3>
                <p>
                    10801 Oldfield Dr.<br>Reston, VA 20191<br>
                </p>
                <p><i class="fa fa-phone"></i> 
                    <abbr title="Phone">P</abbr>: (703) 634-9561</p>
                <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email">E</abbr>: <a href="mailto:rick@novabikeworks.com">rick@novabikeworks.com</a>
                </p>
                <p><i class="fa fa-clock-o"></i> 
                    <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>

</div>