<img ng-src="assets/images/602.jpg" class="img-responsive">
<div class="container">
<div class="row">
    <h4>About Nova Bike Works</h4>
    <p>Nova Bike Works is a bike service company operating in the
      Reston, Virginia. We offer high-end bicycle rentals including free
      drop off and pick up in the NOVA area and mobile fitting services
      to tailor a fit to your existing bike as well bike-sizing to
      assist you in your new bike purchase decisions.</p>
  </div>
</div>