<img ng-src="assets/images/601.jpg" height="250px" class="img-responsive">
<div class="container mt15">
<div class="row">

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Bike Rentals</h4>
        </div>
        <div class="panel-body">
          <img src="assets/images/mekk.jpg" width="300" class="img-responsive responsive-base" />
          <h4>
            <i>High-End Bikes for High-End Adventures</i>
          </h4>
          <ul>
            <li>Bikes for every price point</li>
            <li>Sizes 47-59cm</li>
            <li>Long-Rental Discounts</li>
            <li>Free Basic BikeFit&trade; Fitting with each Rental</li>
          </ul>
          <a class="btn btn-success pull-right" href="#/rent/road">Rent A Bike</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Bike Fitting and Sizing</h4>
        </div>
        <div class="panel-body">
        <div class="m20">
          <img src="assets/images/fit.jpg" width="300" class="img-responsive responsive-base" />
            </div>
          <h4 class="mt15">
            <i>State-of-the-Art Bike Fitting</i>
          </h4>
          <ul>
          <li>Free Mobile Service - In the comfort and privacy of your own home.</li>
            <li><a href="https://www.bikefit.com">BikeFit &trade;</a> Certified Fitters</li>
             <li>Video/Software Assisted Analysis</li>
             <li>Sizing and Fitting Services <a href="#/fittingvsizing"><span class=badge>?</span></a></li>
          </ul>
          <a href="#/fit" class="btn btn-success pull-right">Schedule Appointment
            </a>
        </div>
      </div>
    </div>
  </div>
</div>

