<div class="row">
<div class="container">
    <h4>Message Sent!</h4>
    <div class="panel panel-default">
      <div class="panel-heading">Your Message</div>
      <div class="panel-body">
      From: {{vm.email.name}}<br />
      Email: {{vm.email.address}}<br />
      Subject: {{vm.email.subject}}<br />
      Message: {{vm.email.message}}
      </div>
    </div>
    <p>We will contact you regarding your request as soon as possible.</p>
  </div>
</div>