.brand {
    font-size: 1.5em; font-weight: bold
}
.center {
    margin-left:auto;
    margin-right:auto;
}
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.m5 {
    margin: 5px;
}
.m10 {
    margin: 10px;
}
.m15 {
    margin: 15px;
}
.m20 {
    margin: 20px;
}
.ml5 {
    margin-left: 5px;
}
.mr5 {
    margin-right: 5px;
}
.ml15 {
    margin-left: 15px;
}
.mr15 {
    margin-right: 15px;
}
.mt5 {
    margin-top: 15px;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.calendar {
    display: inline-block;
    min-height: 290px;
    padding-right: auto;
    padding-left: auto
}
.responsive-base {
    margin: 0 auto
}