<img ng-src="assets/images/602.jpg" height="250px" class="img-responsive">
<div class="container" ng-controller="fitController as vm">
  <div class="row">


    <a id="fit"></a>
    <h3>Bike Fitting Service</h3>
    <b><i>Fitting by a BikeFit&trade;-Trained Professional in
        our Studio or Yours.</i></b>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-4">

      <h4>Fittings Include:</h4>
      <ul>
        <li>Mobile Fitting Service in the NOVA area. We come to
          you.</li>
        <li>Fittings for New Bike Selection or Existing Bike
          Adjustment</li>
        <li>Saddle Height</li>
        <li>Fore & Aft Seat Adjustment</li>
        <li>Saddle Angle</li>
        <li>Reach Analysis</li>
        <li>Handlebar and Hood Position Adjustment</li>
        <li>Cleat Placement</li>
      </ul>
    </div>

    <div class="col-sm-12 col-lg-4">
      <div class="row">
        <div class="pull-right calendar">
          <h4>Select A Date:</h4>
          <div uib-datepicker ng-model="vm.dt" class="well well-sm"
            ng-click="vm.showEmail=!vm.showEmail"
            datepicker-options="vm.dateOptions"></div>
        </div>
      </div>
      <form name="sentMessage" id="contactForm" novalidate
        ng-show="vm.showEmail">
        <div class="control-group form-group">
          <div class="controls">
            <label>Name:</label> <input type="text" class="form-control"
              ng-model="vm.emailName" id="name" required
              data-validation-required-message="Please enter your name.">
            <p class="help-block"></p>
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Email Address:</label> <input type="email"
              class="form-control" ng-model="vm.email.address" required
              data-validation-required-message="Please enter your email address.">
          </div>
        </div>
        <div class="control-group form-group mt20">
          <div class="controls">
            <button ng-click="vm.schedule()"
              class="btn btn-success pull-right"
              ng-disabled="vm.emailName==null || vm.email.address==null">Schedule</button>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>
