
<div class="container" ng-controller="rentalController as vm">
 <div class="row">

      <div class="col-lg-12">
       <a id="rent"></a>
      <h3>Bike Rentals</h3>
        <b><i>Free pickup/drop-off in the Northern VA Area.</i></b>
<hr/>
      </div>
    </div> 
  <div class="row">
    <div ng-repeat="item in vm.categories" class="col-sm-12 col-md-4">
      <div  class="panel panel-default ">
        <div class="panel-heading">
          <h4>{{item.brand}} {{item.model}} <span class="pull-right">${{item.price}} per day</span></h4>
        </div>
        <div class="panel-body">
          <img src="assets/images/{{item.image}}" width="300" class="center"/>
          {{item.description}}
          <ul >
            <li ng-repeat="bullet in item.bullets">{{bullet}}</li>
          </ul>
          <form class="form">
         <label>Select Size: </label>
            <div class="btn-group">
              <label ng-repeat="size in item.sizes"
                class="btn btn-primary" ng-model="item.size" ng-click="vm.selectModel(item, item.size)" uib-btn-radio="size">{{size}}</label>
                           </div>
            <div class="row mt10" ng-show="vm.selectedModel.id==item.id">
              <div class="col-md-6">
              
              <label>Start Date: </label>
                <div class="input-group">
                    <input type="text" class="form-control"
                    uib-datepicker-popup="{{format}}" ng-model="vm.selectedModel.start"
                    is-open="vm.popup1.opened"
                    datepicker-options="vm.dateOptions"
                    ng-required="true" close-text="Close"
                    alt-input-formats="altInputFormats" /> <span
                    class="input-group-btn">
                    <button type="button" class="btn btn-primary"
                      ng-click="vm.openStart()">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </div>
              </div>
              <div class="col-md-6">
              <label>Return: </label>
                <div class="input-group">
                    <input type="text" class="form-control"
                    uib-datepicker-popup="{{format}}" ng-model="vm.selectedModel.end"
                    is-open="vm.popup2.opened"
                    datepicker-options="vm.dateOptions"
                    ng-required="true" close-text="Close"
                    alt-input-formats="altInputFormats" /> <span
                    class="input-group-btn">
                    <button type="button" class="btn btn-primary"
                      ng-click="vm.openEnd()">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </div>
            </div>
             <div class="col-md-12">
        <div class="control-group form-group">
          <div class="controls">
            <label>Name:</label> <input type="text" class="form-control"
              ng-model="vm.email.name" id="name" required
              data-validation-required-message="Please enter your name.">
            <p class="help-block"></p>
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Email Address:</label> <input type="email"
              class="form-control" ng-model="vm.email.address" required
              data-validation-required-message="Please enter your email address.">
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <button class="btn btn-success pull-right"
              ng-click="vm.rent()">Rent Now!</button>
          </div>
        </div>
        </div>
        </div>
      </form>
    </div>
          
        </div>
      </div>
    </div>
  </div>
